@import './fonts.css';

:root {
    --firsFont: 'Comfortaa';
    --secondFont: 'Montserrat';
    --firthFont: 'Roboto';
    --white: white;
    --linkHover: #ED8E00;
    --black: black;
    --bodyBg: #040D1F;
    --btnBg: #F18128;
    --btnHoverBg: #040D1F;
    --title: #F18128;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

ul {
    list-style: none;
}

.container {
    max-width: 1140px;
    width: 100%;
    padding: 0 15px;
    margin: 0 auto;
}

body {
    font-family: var(--firsFont);
    background: var(--bodyBg);
}

.title {
    font-weight: 400;
    font-size: 36px;
    line-height: 40px;
    text-transform: capitalize;
    color: var(--title);
    font-family: var(--firsFont);
    width: max-content;
}

.title::after {
    content: '';
    display: block;
    width: 100%;
    height: 2px;
    background: var(--title);
    margin-top: 10px;
}

.btn {
    padding: 17px 48px;
    border-radius: 4px;
    background: var(--btnBg);
    font-family: var(--firthFont);
    font-weight: 500;
    font-size: 14px;
    line-height: 12px;
    text-align: center;
    color: var(--black);
    transition: .3s linear;
    display: inline-block;
}

.btn:hover {
    background: var(--btnHoverBg);
    color: var(--white);
}

.ads {
    display: flex;
    align-items: flex-end;
    justify-content: center;
    column-gap: 24px;
    padding: 20px;
    background: linear-gradient(90.09deg, #3800AF 0%, #BF7204 97.52%, #C27500 100%, #C27500 100%);
}

.ads span {
    max-width: 166px;
    width: 100%;
    font-family: var(--firsFont);
    font-weight: 400;
    font-size: 16px;
    line-height: 18px;
    color: var(--white);
}

.header__logo span {
    font-weight: 700;
    font-size: 18px;
    line-height: 20px;
    color: var(--white);
}

.header__nav {
    background: var(--black);
}

.header__nav_item {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header__list {
    display: flex;
    column-gap: 30px;
}

.header__link {
    font-family: var(--secondFont);
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    color: var(--white);
    display: inline-block;
    padding: 42px 6px;
    transition: 500ms;
    position: relative;
}

.header__link:hover {
    color: var(--linkHover);
}

.header__link::after {
    content: '';
    position: absolute;
    border-radius: 23px 23px 0px 0px;
    bottom: 0;
    height: 2px;
    background: var(--linkHover);
    left: 50%;
    width: 0;
    transition: 500ms;
}

.header__link:hover::after {
    left: 0;
    width: 100%;
}

.header__btn {
    width: 50px;
    height: 50px;
    display: none;
    flex-direction: column;
    justify-content: center;
    row-gap: 5px;
    background: transparent;
    border: none;
    /* visibility: hidden; */
    /* opacity: 0; */
    /* transform: scale(0); */
}

.header__btn span {
    display: block;
    height: 8px;
    width: 100%;
    background: var(--linkHover);
    transition: .5s linear;
    border-radius: 3px;
}

.header__btn:focus span:nth-child(1) {
    transform: rotate(45deg) translateY(-16px) translateY(25px) translateX(31px) translateX(-22px);
}

.header__btn:focus span:nth-child(2) {
    transform: rotate(-45deg);
    background: transparent;
}

.header__btn:focus span:nth-child(3) {
    transform: rotate(-45deg) translateY(16px) translateY(-25px) translateX(32px) translateX(-23px);
}

.header {
    position: relative;
    height: 840px;
}

.header__content {
    display: flex;
    /* align-items: center; */
    justify-content: center;
    flex-direction: column;
    height: 100%;
}


.header__content::after {
    background: rgba(7, 15, 25, 0.75);
    content: '';
    display: block;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
}

.header__bg {
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    object-fit: cover;
    width: 100%;
    height: 100%;
}

.header__content_title {
    font-family: var(--secondFont);
    font-weight: 700;
    font-size: 64px;
    line-height: 78px;
    color: var(--white);
}

.header__content_text {
    font-family: var(--secondFont);
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    text-align: justify;
    color: #C8C8C8;
    max-width: 570px;
    margin-top: 30px;
    margin-bottom: 50px;
}

.header__btns {
    display: flex;
    gap: 30px;
}

.films {
    padding-top: 60px;
    padding-bottom: 77px;
}

.films__cards {
    margin-top: 54px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-auto-rows: 368px;
    gap: 30px;
}

.films__card {
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 54px 15px 18px 15px;
    text-align: center;
}

.play {
    transition: 0.4s;
    z-index: 2;
}

.films__card:hover .play {
    transform: scale(1.1) rotateX(360deg);
}

.films__card::after {
    content: '';
    display: block;
    width: 100%;
    height: 100%;
    z-index: -1;
    background: linear-gradient(180deg, rgba(241, 129, 40, 0.35) 0%, rgba(0, 0, 0, 0.71) 51.04%, rgba(7, 15, 25, 0.8) 100%);
    border-radius: 6px;
    position: absolute;
    top: 0;
    left: 0;
}

.films__card_bg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    /* Аналог background-size: cover */
    z-index: -1;
    border-radius: 6px;
}

.time {
    padding: 7px 28px;
    display: inline-block;
    background: rgba(7, 15, 25, 0.2);
    border: 1px solid #FFFFFF;
    border-radius: 9px;
    font-family: var(--secondFont);
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 10px;
    color: #FFFFFF;
    margin-top: 12px;
    margin-bottom: 30px;
}

.films__card_title {
    font-family: var(--secondFont);
    font-style: normal;
    font-weight: 400;
    font-size: 22px;
    line-height: 27px;
    display: flex;
    align-items: center;
    text-align: center;
    color: #FFFFFF;
    margin-bottom: 12px;
}

.films__card_text {
    font-family: var(--firthFont);
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 21px;
    color: #FFFFFF;
}

.widow {
    position: relative;
    padding-top: 42px;
    padding-bottom: 80px;
    height: 500px;
}

.widow::after {
    content: '';
    display: block;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    background: linear-gradient(90deg, #DEF7FF 0%, #F4FCFF 45.64%, rgba(255, 255, 255, 0) 100.72%);
}

.widow video {
    position: absolute;
    top: 0;
    right: 0;
    z-index: -1;
    height: 100%;
    object-fit: cover;
    width: 100%;
}

.widow__content_text {
    font-family: var(--firthFont);
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 27px;
    text-align: justify;
    color: #000000;
    margin-top: 51px;
    margin-bottom: 55px;
    max-width: 558px;
}

.collection {
    padding-top: 61px;
    padding-bottom: 63px;
}

.collection__cards {
    margin-top: 51px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
    grid-auto-rows: 194px;
}

.collection__card {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 15px;
    overflow: hidden;
    border-radius: 6px;
}

.collection__card::after {
    content: '';
    display: block;
    width: 100%;
    height: 100%;
    background: linear-gradient(270deg, rgba(7, 15, 25, 0.56) 0%, rgba(49, 114, 9, 0.56) 100%);
    border-radius: 6px;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
}

.collection__card_bg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;
    transition: 0.3s;
    border-radius: 6px;
}

.collection__card_text {
    font-family: var(--firsFont);
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 22px;
    color: var(--white);
}

.all__square {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    padding: 7px 9px;
}

.square {
    display: flex;
    justify-content: space-between;
}

.square::after,
.square::before {
    content: '';
    display: block;
    width: 21px;
    height: 24px;
    background: var(--bodyBg);
    border-radius: 2px;
    transition: 0.3s;
}

.collection__card:hover .play {
    transform: rotateX(360deg) scale(1.1);
}

.collection__card:hover .square::before {
    transform: translateY(-200px);
}

.collection__card:hover .square::after {
    transform: translateY(200px);
}

.collection__card:hover .collection__card_bg {
    transform: scale(1.1);
}
 .series__card{
   

height: 100%;

width: 100%;
object-fit: cover;
top: 0;left: 0;

z-index: 1;
} 
 .series__card::after{
    background: linear-gradient(95.68deg, rgba(35, 35, 35, 0.8) 10.86%, rgba(11, 11, 11, 0.6) 110.86%);
border-radius: 6px;
    content: '';
    display: block;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;

} 
.series__card{
    position: relative;
}
.series__card_title{
    position: absolute;
    font-family: var(--firsFont);
font-style: normal;
font-weight: 700;
font-size: 40px;
line-height: 45px;

color: #FFFFFF;

   left: 50%;
   transform: translate(-50%);
    padding-top: 96px;
    z-index: 2;
}
.series__card_text{


    font-family: var(--firsFont);
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    /* or 150% */
    
    text-align: center;
    z-index: 2;
    color: #FFFFFF;
    
    position: absolute;
    top: 173px;
    padding: 0 22px;

}
.series__card_btn {

    z-index: 2;
    position: absolute;
    left: 50%;
    transform: translate(-50%);
    top: 293px;
}
.series__card_bg{
    width: 100%;
    height: 100%;
  
}
.series__title{
    margin-bottom: 54px;
}
.move__cards{
margin-top: 30px;
    display: grid;
    gap: 30px;
    grid-template-columns: repeat(4, 1fr);
    grid-template-areas: 'one one two three'
                          'one one four five';
      grid-template-rows: repeat(2,190px);                    
}

.move__card_1{
    cursor: pointer;
background: url(../img/series/vision.png);
position: relative;
z-index: 1;
border-radius: 6px;
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
gap: 20px;

}
.move__card_1::after{


    background: linear-gradient(95.68deg, rgba(35, 35, 35, 0.8) 0%, rgba(11, 11, 11, 0.6) 100%);
   
    content: '';
    display: block;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
}
.move__card_1::after{


    background: linear-gradient(95.68deg, rgba(35, 35, 35, 0.8) 0%, rgba(11, 11, 11, 0.6) 100%);
   
    content: '';
    display: block;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
}
.move__card_1::after{


    background: linear-gradient(95.68deg, rgba(35, 35, 35, 0.8) 0%, rgba(11, 11, 11, 0.6) 100%);
   
    content: '';
    display: block;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
}
.move__card_2::after{


    background: linear-gradient(95.68deg, rgba(35, 35, 35, 0.8) 0%, rgba(11, 11, 11, 0.6) 100%);
   
    content: '';
    display: block;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
}
.move__card_3::after{


    background: linear-gradient(95.68deg, rgba(35, 35, 35, 0.8) 0%, rgba(11, 11, 11, 0.6) 100%);
   
    content: '';
    display: block;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
}
.move__card_4::after{


    background: linear-gradient(95.68deg, rgba(35, 35, 35, 0.8) 0%, rgba(11, 11, 11, 0.6) 100%);
   
    content: '';
    display: block;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
}
.move__card_5::after{


    background: linear-gradient(95.68deg, rgba(35, 35, 35, 0.8) 0%, rgba(11, 11, 11, 0.6) 100%);
   
    content: '';
    display: block;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
}


.move__card_2{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    cursor: pointer;
    position: relative;
    z-index: 1;
background: url(../img/series/flash.png) center center / cover;
border-radius: 6px;
}
.move__card_3{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    cursor: pointer;
    position: relative;
    z-index: 1;
background: url(../img/series/great.png) center center / cover;
border-radius: 6px;
}
.move__card_4{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    cursor: pointer;
    position: relative;
    z-index: 1;
background: url(../img/series/gotham.png) center center / cover;
border-radius: 6px;
}
.move__card_5{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
   cursor: pointer;
    position: relative;
    z-index: 1;
background: url(../img/series/witcher.png) center center / cover;
border-radius: 6px;
}
.one{
grid-area: one;
    
}
.two{
grid-area: two;
    
}
.three{
grid-area: three;
    
}
.four{
grid-area: four;
    
}
.five{
grid-area: five;
    
}
.move__card_1{

}
.move__title{


    font-family: var(--firsFont);
font-style: normal;
font-weight: 700;
font-size: 24px;
line-height: 27px;

color: #FFFFFF;
z-index: 2;
}
.move__cards img:hover{

    transform: rotateX(180deg);
}

.footer{

    margin-top: 63px;
    background: linear-gradient(90deg, #FF8C30 0%, #9F4700 100%);
box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.8);
}

.footer__content{


    padding-top: 24px;
    padding-bottom: 24px;
    display: flex;
    align-items: center;
    justify-content: space-between;

}
.footer__link_app{

    display: flex;
    gap: 40px;
}
.footer__text{

    font-family: var(--firsFont);
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 20px;

    
    text-align: right;
    letter-spacing: 0.01em;
    
    color: #FFFFFF;


}